# ==== PYTHON ====

# Entornos virtuales
venv/
env/
.venv/

# Cachés y metadata
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/

# Archivos temporales
*.log
*.tmp

# Configuración local
.env
.env.local
.env.development
.env.production
.env.test

# ==== FASTAPI / UVICORN ====
*.sqlite3
*.db


# ==== NODE / REACT ====

# Node modules
node_modules/

# Build del frontend
/build
/dist

# Cachés
.npm
.yarn
.pnpm
.cache/
.parcel-cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# ==== IDEs ====

# VSCode
.vscode/
.history/

# PyCharm
.idea/

# ==== SISTEMA OPERATIVO ====

# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
Desktop.ini


# ==== OTHERS ====

# Archivos temporales de editor
*.swp
*.swo

# Artifacts
*.bak
*.old

